body {
	font-weight: 300;
	/*font-family: 'Quicksand', sans-serif;*/
	font-family: 'Raleway', sans-serif;
	margin:0;
    padding:0;
}

div {
    color:black;
	background-color: transparent;
	font-size: 28px;
	text-align: center;
	font-weight: 300;
	margin: 0;
}

/* Sections */

div.centered {
	margin: auto;
}

div.inset {
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 100px;  /*72*/
	padding-right: 100px;
}

div.logoArea {
	background:#00030D;
	padding-top: 25px;
	padding-bottom: 25px;
}

div.storeArea {
	background:#fafafa;
	padding-top: 0px;
	padding-bottom: 0px;
	box-sizing: border-box;
}

div.servicesArea {
	background:#3E269E;	
}

div.currentPromotions {
	background:#FAFAFA;
	overflow: hidden;
}

div.testimonials {
	background:#AD1F63;
}

div.aboutUs {
	background:#FAFAFA;
}

div.footer {
	background:#16AAAA;
	padding-top: 25px;
	padding-bottom: 25px;
}


/* Headings */

h1 {
	color:white;
	font-size:62px;
	text-align:center;
	font-weight:700;
	margin:0;
}

h2 {
	color:black;
	background-color: transparent;
	font-size: 28px;
	text-align: center;
	font-weight: 900;
	padding-bottom: 20px;
	margin:0;
}


/* Paragraphs */

p {
	color:black;
	font-size: 28px;
	line-height: 150%;
	margin:0;
	text-align: center;
}

p.description {
	font-size: 20px;
}

p.testimonialName {
	font-size: 20px;
	padding-right: 75px;
	padding-top: 20px;
	text-align: right;
}


/* Table */

table.storeInfo {
	text-align: center;
	font-size: 20px;
	margin: auto;
	table-layout:fixed;
}

td {
	text-align:left;
	padding:0 30px 0 30px;
}

.row {
    /*display: flex;*/
    margin:0;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    /*flex: 50%;
    width: 33.33%;
    vertical-align: middle;*/

    float: left;
    /*width: 33.33%;*/
    width: 32.0%;
    /*padding: 10px;*/
}

.sepCol {
	float: left;
    width: 2.0%;

}

.paddedCol {
	padding-top: 42px;
	padding-bottom: 42px;
}

@media screen and (max-width: 1250px) {
    .column {
        width: 100%;
    }

    .sepCol {
    	display: none;
    }

}

@media screen and (max-width: 1250px) {
   
    p.description {
		font-size: 12px;
	}

	p.testimonialName {
		font-size: 12px;
		padding-right: 75px;
		padding-top: 20px;
		text-align: right;
	}

	li {
  		font-size: 14px;
	}

	ul.servicesList {
	  font-size: 14px;
	}

	table.storeInfo {
		font-size: 14px;
	}

    div.inset {
		padding-top: 50px;
		padding-bottom: 50px;
		padding-left: 50px;  /*72*/
		padding-right: 50px;

	}

	h2 {
		font-size: 22px;
	}

}

/* Carousel */

.carousel-control {
  background-image: none !important;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
  color: white;
}

.carousel {
	/*height: 300px; */
	padding-left: 36px; 
	padding-right: 36px;
}


/* List */

ul.servicesList {
	 list-style-image: url('images/Bullet.png');
	 text-align: left;
	 font-size: 20px;
	 color: white;
	 padding-left: 24px;
	 margin: 0;
}

li {
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20;
}

/* Links */

a.button, a.button:link, a.button:visited {
	font-weight: 500;
	text-decoration: none;
}

a.social, a.social:link, a.social:visited {
	color:white;
	font-weight: 500;
	text-decoration: none;
}

a.titleLink {
	color:white; 
	text-align:right; 
	padding-left: 0px;
	text-decoration: none;
}

a.titleLink:hover {
	text-decoration: underline;
}

/* Images */

img.social {
	height: 50px;
	width : 50px;
	margin-left: 10px;
	margin-right: 10px;
}

img.textButton {
	margin-left: 10px;
	margin-right: 10px;
	opacity: 1.0;
}

img.textButton:hover {
	opacity: 0.75;
}

img.logo {
	display: inline-block;
	width: 35%;
	height: 35%;
	margin: 10px 10px 10px 10px;
	vertical-align: middle;
}

img.map {
	display: inline-block;
	width: 50%;
	height: 50%;
	margin-top: 30px;
	vertical-align: middle;
	box-shadow: 0px 0px 25px -5px #888888;
	border-radius: 25px;
}

img.advert {
	display: inline-block;
	width: 350px;
	height: auto;
	margin: 10px 10px 10px 10px;
	vertical-align: middle;
	/*max-width: 400px;
    max-height: 600px;
    min-width: 200px;*/

    max-width: 100%;
    max-height: 100%;
    min-width: 20px;

    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-top: 10px solid #D4AD1B;
    border-bottom:10px solid #EDC460;
    background-image: 
        linear-gradient(#D4AD1B, #EDC460),
        linear-gradient(#D4AD1B, #EDC460)
    ;
    background-size:10px 100%;
    background-position:0 0, 100% 0;
    background-repeat:no-repeat;
}

img.divider {
	padding-top: 42px;
	padding-bottom: 42px;
}